[gui]
	fontui = -family \"bitstream vera sans\" -size 10 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"bitstream vera sans mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[alias]
  co = checkout
  cm = commit
  cma = commit --amend
  br = branch
  st = status
  rb = rebase
  cp = cherry-pick
  d = diff
  l = log
  sh = stash
  f = fetch
  p = pull
  fo = fetch origin
  po = pull origin
[color]
  branch = true
  diff = true
  status = true
[core]
  whitespace = trailing-space,space-before-tab
  autocrlf = input
[apply]
  whitespace = fix
[push]
  default = simple
[pull]
  default=current
[init]
  templatedir = ~/.git_template
