[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".zsh/history-substring-search"]
	path = .zsh/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".zsh/completions"]
	path = .zsh/completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/syntax-highlighting"]
	path = .zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
