set editing-mode vi
$if mode=vi
  set keymap vi-insert
  "\C-k": history-search-backward
  "\C-n": history-search-forward
  "\eOR": vi-movement-mode
  "ñ": "["
  "Ñ": "]"
  "í": "{"
  "ó": "}"
  "é": "="
$endif
